@model PhunnyShop.Models.Account.UserEquipmentView

<div class="container">
	<div class="row pt-4 mb-2">
		<div class="col-6">
			<h2 class="text-primary">EQUIPAMENTOS EM LOJA</h2>
		</div>
		<div class="col-6 text-end">
            <a class="btn btn-outline-primary" asp-controller="User" asp-action="History" asp-route-email="@User.Identity.Name"><i class="bi bi-eye"></i> Ver Histórico</a>
            <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Index" asp-route-email="@User.Identity.Name"><i class="bi bi-chevron-double-left"></i> Voltar</a>
		</div>
	</div>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Equipamento</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.EquipmentRepairs != null && Model.EquipmentRepairs.Any())
            {
                @foreach (var repair in Model.EquipmentRepairs)
                {
                    <tr>
                        <th scope="row">@repair.Id</th>
                        <td>@repair.Name @repair.Model</td>
                        <td>@repair.Status</td>
                        <td>
                            <a class="text-decoration-none" asp-controller="User" asp-action="EquipmentDetails" asp-route-id="@repair.Id">
                                <i class="bi bi-eye"></i> Detalhes
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>